@using thuongmaidientus1.Models
@model Xulydonhang

<!DOCTYPE html>
<html>
<head>
    <title>Email Template</title>
</head>
<body>

    <div style="width: 100%; background-image: url('https://4.bp.blogspot.com/-Tw7GcaZaM8Y/VvAQbOdZi7I/AAAAAAAAAac/ohZQf1brXK8RXynPzMIkthitiVkb654dw/s640/hinh-nen-may-tinh-dep-nhat-05.jpg'); background-size: cover; background-repeat:no-repeat; height: 500px; text-align: center; padding: 60px 0;">
        <div>
            <h1>Đơn hàng của bạn đã bị do một số lý do</h1>
        </div>
    </div>
</body>
